  <body>
    <main class="main">
      <div class="first-view">
        <div class="first-view-textarea">
          <h1 class="catchcopy">関西で作業場所探すなら<br>Coin-work</h1>
          <p class="subtext"></p>
          <a href="/posts/leg" class="top-service-btn">詳細を見る</a>
        </div>
      </div>
      
      <p class="services-section-bar">使用シーン</p>
      <div class="service-cardarea-use">
      <div class="service-card1">
          <div class="service-textarea">
            <img src="" alt="" class="service-logo">
            <h2 class="service-description">Working</h2>
            <div class="service-btn-use"><h5>電源・wifiが完備されているため、PC作業やデスクワークなどカフェやオフィス代わりとしてご利用いただけます。出張時にも便利な拠点になります。</h5></div>
          </div>
        </div>

        <div class="service-card2">
          <div class="service-textarea">
            <img src="" alt="" class="service-logo">
            <h2 class="service-description">FreeTime</h2>
            <div class="service-btn-use"><h5>休憩したいときや、待ち時間などのくつろぎスペースとしてご利用ください。携帯やPCのちょっとした充電もしていただけます。</h5></div>
          </div>
        </div>
    </div>
    <div class="service-cardarea-use">
    <div class="service-card3">
        <div class="service-textarea">
          <img src="" alt="" class="service-logo">
          <h2 class="service-description">Meeting</h2>
          <div class="service-btn-use"><h5>打ち合わせや面談、面接場所にもご利用いただけます。会議室が満室のときや、カフェで席がとれないときには、予約してご利用ください。</h5></div>
        </div>
      </div>

      <div class="service-card4">
        <div class="service-textarea">
          <img src="" alt="" class="service-logo">
          <h2 class="service-description">MeetUp</h2>
          <div class="service-btn-use"><h5>勉強会や朝活、オフ会、交流会など、さまざまな活動の拠点としてご利用いただけます。コミュニティ形成の場としても機能します。</h5></div>
        </div>
      </div>
  </div>

      <div class="services-section">
        <p class="services-section-bar">店舗紹介（エリア別）</p>
        <div class="top-gaiyou">
        <div class="gaiyou-name">エリア：大阪（新着4件）</div>
        </div>
        <div class="service-cardarea">
          <div class="service-card">
          <%= image_tag "images/canva-photo-editor.book.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>

          <div class="service-card">
          <%= image_tag "images/canva-photo-editor.pc.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>

          <div class="service-card">
          <%= image_tag "images/canva-photo-editor.study.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>
          <div class="service-card">
          <%= image_tag "images/canva-photo-editor.study.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>
        </div>
        <div class="top-gaiyou">
        <div class="gaiyou-name">エリア：兵庫（新着4件）</div>
        </div>
      <div class="service-cardarea">
        <div class="service-card">
        <%= image_tag "images/canva-photo-editor.book.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>

        <div class="service-card">
        <%= image_tag "images/canva-photo-editor.pc.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>

        <div class="service-card">
        <%= image_tag "images/canva-photo-editor.study.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>
        <div class="service-card">
        <%= image_tag "images/canva-photo-editor.study.png", class:"service-img" %>
            <div class="service-textarea">
              <h3 class="shop-name">スターバックス</h3>
              <h5 class="shop-explanation"><span class="font_test">営業時間</span>：13:00〜19:00</h5>
              <h5 class="shop-explanation"><span class="font_test">休業日</span>：無し</h5>
              <h5 class="shop-explanation"><span class="font_test">アクセス</span>：谷川駅徒歩15分</h5>

              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>
    </div>
    <p class="services-section-bar">ジャンルから探す</p>
    <div class="genre-area">
      <div class="genre-card">
        <h2 class="genre-img">ファストフード</h2>
      </div>
      <div class="genre-card">
        <h2 class="genre-img1">カフェ</h2>
      </div>
      <div class="genre-card">
        <h2 class="genre-img2">漫画喫茶</h2>
      </div>
      <div class="genre-card">
        <h2 class="genre-img3">カラオケ</h2>
      </div>
      <div class="genre-card">
        <h2 class="genre-img4">コワーキングスペース</h2>
      </div>
     </div>
    </div>

    <div class="area-kensaku">
    <div class="osaka"><h1 class="timei-osaka">大阪</h1>
      <ul class="sub-osaka">
        <li class="area-osaka">難波</li>
        <li class="area-osaka">天王寺</li>
        <li class="area-osaka">梅田</li>
        <li class="area-osaka">新大阪</li>
      </ul>
    </div>
    <div class="osaka"><h1 class="timei-hyogo">兵庫</h1>
      <ul class="sub-osaka">
        <li class="area-osaka">神戸</li>
        <li class="area-osaka">三宮</li>
        <li class="area-osaka">西宮</li>
        <li class="area-osaka">姫路</li>
      </ul>
    </div>
    <div class="osaka"><h1 class="timei-hyogo">京都</h1>
    <ul class="sub-osaka">
      <li class="area-osaka">福知山</li>
      <li class="area-osaka">宮津</li>
      <li class="area-osaka">京都</li>
      <li class="area-osaka">宇治</li>
    </ul>
  </div>
  </div>
  
  <% @shops.each do |shop| %>
        <div class="arm-card__wrapper">
          <div class="arm-card">
          <%= image_tag shop.image, class: "arm-card__img" if shop.image.attached? %>
            <div class="card__body">
            <h2 class="card__title">投稿者：<%= shop.name %></h2>
              <p class="card__summary">
              <p>鍛えた部位：<%= shop.title %></p>
              <p>一言：<%= shop.open_hour %></p>
              </p>
            </div>
          </div>
          <% end %>
        </div>
    </main>
</body>

