<div class="services-section">
  <p class="services-show-bar"><div class="breadcrumbs"><a href="/">Home</a>&rsaquo;<a href="/shops/list">店舗一覧</a>&rsaquo;<span class="current"><%= @shop.name %></span></div></p>
</div>

  <div class="shop">
    <div class="show-shop-info">
    <div class="shop">
     <div class="info">
  <div class="shop-controller">
     <div class="show-shop-name">
       <%= @shop.name %></span>
     </div>
     <div class="show-master">
       <h5 class="show-explanation"><span class="font_test">エリア：</span><%= @shop.area.name %></h5>
       <h5 class="show-explanation"><span class="font_test">ジャンル</span>：<%= @shop.genre.name %></h5>
       <h5 class="show-explanation"><span class="font_test">休業日</span>：<%= @shop.regular_holiday %></h5>
     </div>
   </div>
  </div>
</div>
<div class="shop-content">
  <div class="shop-content-image">
      <div class="show-shop-images">
        <%= image_tag @shop.image, class: "show-shop-card__img" if @shop.image.attached? %>
      </div>
  </div>
  <div class="shop-content-comment">
    <p class="shop-content-comment-title">
      <%= @shop.title %>
    </p>
    <p class="shop-content-comment-content"><%= @shop.content %></p>
  </div>
  <div class="shop-content-info">
    <div class="shop">
<div class="shop-title">
<p>店舗情報（詳細）</p>
</div>
<div class="shop-main">
<p class="shop-top">店舗基本情報</p>
<div class="oogaiyou">
  <table border="0" width=auto>
<tr class="gaiyou">
    <th nowrap>店名</th>
    <td><%= @shop.name %></td>
</tr>
<tr class="gaiyou">
  <th nowrap>ジャンル</th>
  <td><%= @shop.genre.name %></td>
</tr>
<tr class="gaiyou">
  <th nowrap>お問い合わせ</th>
  <td><%= @shop.telephone %></td>
</tr>
<tr class="gaiyou">
  <th nowrap>住所</th>
  <td><%= @shop.jusyo %></td>
</tr>
<tr class="gaiyou">
  <th nowrap>最寄り駅</th>
  <td><%= @shop.nearest_station %></td>
</tr>
<tr class="gaiyou">
  <th nowrap>営業時間</th>
  <td><%= @shop.open_hour %></td>
</tr>
<tr class="gaiyou">
  <th nowrap>定休日</th>
  <td><%= @shop.regular_holiday %></td>
</tr>
</table>

<div class="shop-detail">
  <p class="shop-top">席・設備</p>
  <div class="oogaiyou">
  <table border="0" width=auto>
       <tr class="gaiyou">
          <th nowrap>席数</th>
          <td><%= @shop.capacity %></td>
        </tr>
        <tr class="gaiyou">
          <th nowrap>個室</th>
          <td><%= @shop.private_room %></td>
        </tr>
        <tr class="gaiyou">
          <th nowrap>Wifi</th>
          <td><%= @shop.wifi %></td>
        </tr>
        <tr class="gaiyou">
          <th nowrap>電源</th>
          <td><%= @shop.power_supply %></td>
        </tr>
     </table>
    </div>
</div>
</div>
  </div>
</div>
<div class="container">
<% if user_signed_in? %>
  <%= form_with(model: [@shops, @comment], local: true) do |form| %>
    <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
    <%= form.submit "SEND" %>
  <% end %>
<% else %>
  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
<% end %>
<div class="comments">
<h4>＜コメント一覧＞</h4>
<% @comments.each do |comment| %>
  <p>
    <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
    <%= comment.text %>
  </p>
<% end %>
</div>
</div>

</div>
</div>
