<div class="contents row">
  <div class="container">
    <h2>ログイン</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :私はロボットではありません。 %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン" ,class:"login-form"%>
      </div>
      <div class="guest-box">
      <div class="guest-line">
       <%= form_with model: @user, url: user_session_path, class: 'new_user', local: true do |f| %>
         <%= f.hidden_field :email, value: 'guest@example.com' %><br /></div>
         <%= f.hidden_field :password, value: 'password' %><br /></div
         <div class="guest-actions">
           <%= f.submit 'ゲストログイン' ,class:"login-form"%>
          </div>
       <% end %> 
      </div>
    <% end %>
  </div>
</div>